<div class="styleguide-example">

  <h3><a class="js-jump-scroll" href="#<%= @link %>" id="<%= @link %>"><%= @section.section %></a> <em><%= @section.filename %></em></h3>
  <div class="styleguide-example-content">
    <div class="styleguide-description">
    <%= @description %>
    <% if @section.modifiers.any? %>
      <ul class="styleguide-modifier">
        <% @section.modifiers.each do |modifier| %>
          <li><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="styleguide-element">
      <%= @example_html %>
    </div>
    <% @section.modifiers.each do |modifier| %>
      <div class="styleguide-element styleguide-modifier">
        <span class="styleguide-modifier-name"><%= modifier.name %></span>
        <%= @example_html.gsub('$modifier_class', " #{modifier.class_name}") %>
      </div>
    <% end %>
   <nav class="tabs tabs--kss">
      <ul>
        <li><a class="active" href="#">HTML</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Ruby</a></li>
      </ul>
    </nav>
    <div class="styleguide-html">
      <pre class="styleguide-code"><code class="html">
<%= @escaped_html %>
      </code></pre>

      <pre class="styleguide-code" style="display: none;"><code class="php">
&lt;?php <%= @escaped_php %> ?&gt;
      </code></pre>

      <pre style="display: none;" class="styleguide-code"><code class="ruby">
// work in progress; use plain HTML for now!
<%= @escaped_js %>
      </code></pre>

      <pre style="display: none;" class="styleguide-code"><code class="ruby">
# work in progress; use plain HTML for now!
<%= @escaped_ruby %>
      </code></pre>

    </div>
  </div>

</div>
